<html>
    <body>
        <center>
        <form action="/login" method="POST">
            Username: <input type = "text" name="un" maxlength="20" /> <br> <br>
            Password:<input type = "text" name="ps" minlength="8"/> <br> <br>
            <input type="submit" value="Login"/>
        </form>
        <form action="/register" method="POST">
            <input type="submit" value="Register"/>
        </form>
        <h1>{{msg}}</h1>
        <br>
        </center>
    </body>
</html>